.footer{
	/*margin-top: 100%; */
    /* margin-bottom: 0; */
	background: #f7f5f6;
	width: 100%;
}
footer{
	background: url(../img/foot.png);
	background-repeat: repeat-x;
	background-size:100vh;
	width: 100%;
	height: 300px;
	/* float: left; */
	display: flex;
}

.footer-izquierda{
width: 100%;
height: 100%;
padding: 10px;
margin: 0px 10px;
box-sizing: border-box;
text-align: center;
}

.footer-izquierda p{
	margin-top: 100px;
	font-family: 'IglooLaser', sans-serif;
	font-size: 60px;
	text-align: center;
}

.footer-izquierda img{
	width: 140px;
	height: 120px;
	text-align: center;
}
.footer-centro{
width: 100%;
/* background: #000; */
height: 100%;
padding: 15px;
margin: 0px 10px;
margin-top: 50px;
box-sizing: border-box;
text-align: right;
}

.eliminar{
width: 100%;
height: 100%;
}

.footer-centro li, .footer-centro p{
list-style: none;
margin: 35px 0;
}

.footer-centro li a, .footer-centro p{
	color: #2b2b2b;
	text-decoration: none;
}

.footer-centro p, .footer-derecha p{
	font-weight: bold;
	font-size: 17px;
}

.footer-derecha{
width: 100%;
/* background: #000; */
height: 100%;
padding: 15px;
margin: 0px 10px ;
margin-top: 50px;
box-sizing: border-box;
text-align: left;
}

.footer-derecha li, .footer-derecha p{
list-style: none;
margin: 35px 0;
}

.footer-derecha li a, .footer-derecha p{
	/* color: rgba(201, 192, 192, 0.904); */
	color: #2b2b2b;
	text-decoration: none;
}

.footer-centro li a:hover{
	color: rgba(141, 141, 141, 0.829);
	}

.footer-derecha li a:hover{
	color: rgba(141, 141, 141, 0.829);
}

.separador{
	width: 100%;
	margin-top: -30px;

}

.footer-redes{
	width: 100%;
	/* height: 60px; */
	text-align: center;
	justify-content: space-evenly;
	border-top: 1px solid #d1d0d1;
}

.footer-redes p{
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	justify-content: space-evenly;

}

.footer-redes img, .footer-centro img{
	margin: 10px 0;
	width: 32px;
	height: 32px;
}

.icon-fx{
	transition: .9s ease;
	cursor: pointer;
	padding-left: 5px;
	padding-right: 5px;
}

.icon-fx:hover{
	transform: scale(1.15);
}

@media screen and (max-width: 500px){
		
		.footer-izquierda p{
			margin-top: 120px;
			font-size: 40px;
		}
		
		.footer-izquierda img{
			width: 100px;
			height: 90px;
			text-align: left;

		}

		.footer-izquierda, .footer-centro, .footer-derecha{
			margin: 0;
			padding: 0;
			box-sizing: inherit;
			width: 33%;
		}

		.footer-centro{
			text-align: left;
			margin-top: 90px;
		}

		.footer-derecha{
			text-align: left;
			margin-top: 90px;
		}
		
		.separador{
			width: 100px;
			transform: translateX(-10%);
		}


	footer{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}
	.eliminar{
		display: none;
	}

	.footer-redes{
		margin-top: 50px;
	}

	.contenedor-frapes{
		box-sizing: inherit;
	}
}
